.header{
    font-family: Poppins, sans-serif;
    background: #fff;
    color: #333;
}

.middleNave_Container{
    padding: 1.2rem 0;
    color: #333;
    background: #fff;
    font-size: 1.2rem;
    border-bottom: 1px solid #eee;
}
.middleNave_wrapper{
    display: flex;
    align-items: center;
}

.middleNave_search_container{
    flex-grow: 1;
}
.middleNave_search_wrapper{
    border: 2px solid rgb(51,102,153);
    border-radius: 3px;
    width: 80%;
    justify-content: space-between;
    padding-right: 10px;
    height: 50px;
    flex-grow: 1;
}
.middleNave_search_wrapper div:nth-child(1){
    border-right: 1px solid lightgray;
}

.middleNave_search_wrapper select{
    padding: 0 2rem 0 1.5rem;
    border: none;
    font-weight: 400;
    outline: none;
}

.search_input_wrap{
    flex: auto;
}
.search_input_wrap input{
    outline: none;
    width: 100%;
    padding: 4px 8px;
    margin-right: 4px;
    border: none;
    /* border-left: 1px solid grey; */
    font-size: 15px;
}
.search_input_icon{
    margin: 0 5px;
}
.middleNav_contact{
    margin: 0 20px;
}

.middleNav_contact p{
    margin: 0;
    font-size: 12px;
    text-align: center;
}

.middleNav_contact span{
    font-size: 14px;
    color: rgb(153, 153, 153);
}
.middleNav_contact p:nth-last-child(1){
    font-weight: 900;
}

.middleNave_buttons{
    display: flex;
}

.middleNave_button{
    margin: 0 10px;
}

.middleNave_button a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.middleNave_button a{
    margin: 0;
    font-size: 12px;
}


/* header bottom nav styles start */
.headerBTM_ct_parent_wrapper{
    position: relative;
}
.headerBTM_ct_wrapper{
    /* position: relative; */
}
.headerBTM_ctg{
    font-size: 15px;
    font-weight: 600;
    background-color: #f1f1f1f1;
}
.headerBTM_ctg:hover{
    background-color: #336699;
    color: white;
    cursor: pointer;
    transition: all 0.4s;
}
.headerBTM_ctg:hover svg{
    transition: all 0.4s;
    fill: white ;
}

.category_spacing{
    padding: 10px 20px;
    display: flex;
    min-width: 280px;
}
.category_spacing svg{
    margin-right: 10px;
}

.headerBTM_main_ctg{
    position: absolute;
    box-shadow: 0 0 3px 1px rgb(241, 240, 240);
    top: 60px;
    left: 10;
    overflow: hidden;
    transition: all 0.2s ease-in;
    max-height: 0; 
    background-color: white;
    z-index: 1;
}
.headerBTM_main_ctg:hover{
    max-height: auto;
    /* background-color: orange; */
    overflow: visible;
}

/* .headerBTM_main_ctg_wrapper{ */
.headerBTM_main_ctg_wrapper:hover{
    display: flex;
    grid-template-columns: 1fr 2fr;
}

.category_spacing{
    border-bottom: 1px solid #eeeeee;
}

.headerBTM_ct_wrapper:hover  .headerBTM_main_ctg{
    max-height: 500px;
    transition: all 0.4s ease-in;
}

/* sub category styles to keep different hover style for sub category */
.sub_ctg_wrap{
    position: absolute;
    top: 0;
    left: 280px;
    background-color: white;
    --subCtgShadow: 0 2px 35px rgb(0 0 0 / 10%); 
    --subCtgTransition: max-width 0.3s ease-in; 
}

.sub_ctg_0 {max-width: 0px; overflow: hidden;}
.headerBTM_main_ctg_wrapper:hover .sub_ctg_0{max-width: 680px; white-space: nowrap; transition: var(--subCtgTransition); box-shadow: var(--subCtgShadow);}
.sub_ctg_1{max-width: 0px;  overflow: hidden;}
.headerBTM_main_ctg_wrapper:hover .sub_ctg_1{max-width: 680px; white-space: nowrap; transition: var(--subCtgTransition); box-shadow: var(--subCtgShadow);}
.sub_ctg_2{max-width: 0px;  overflow: hidden;}
.headerBTM_main_ctg_wrapper:hover .sub_ctg_2{max-width: 680px; white-space: nowrap; transition: var(--subCtgTransition); box-shadow: var(--subCtgShadow);}
.sub_ctg_3{max-width: 0px;  overflow: hidden;}
.headerBTM_main_ctg_wrapper:hover .sub_ctg_3{max-width: 680px; white-space: nowrap; transition: var(--subCtgTransition); box-shadow: var(--subCtgShadow);}
.sub_ctg_4{max-width: 0px;  overflow: hidden;}
.headerBTM_main_ctg_wrapper:hover .sub_ctg_4{max-width: 680px; white-space: nowrap; transition: var(--subCtgTransition); box-shadow: var(--subCtgShadow);}
.sub_ctg_5{max-width: 0px;  overflow: hidden;}
.headerBTM_main_ctg_wrapper:hover .sub_ctg_5{max-width: 680px; white-space: nowrap; transition: var(--subCtgTransition); box-shadow: var(--subCtgShadow);}
.sub_ctg_6{max-width: 0px;  overflow: hidden;}
.headerBTM_main_ctg_wrapper:hover .sub_ctg_6{max-width: 680px; white-space: nowrap; transition: var(--subCtgTransition); box-shadow: var(--subCtgShadow);}
.sub_ctg_7{max-width: 0px;  overflow: hidden;}
.headerBTM_main_ctg_wrapper:hover .sub_ctg_7{max-width: 680px; white-space: nowrap; transition: var(--subCtgTransition); box-shadow: var(--subCtgShadow);}
.sub_ctg_8{max-width: 0px;  overflow: hidden;}
.headerBTM_main_ctg_wrapper:hover .sub_ctg_8{max-width: 680px; white-space: nowrap; transition: var(--subCtgTransition); box-shadow: var(--subCtgShadow);}
.sub_ctg_9{max-width: 0px;  overflow: hidden;}
.headerBTM_main_ctg_wrapper:hover .sub_ctg_9{max-width: 680px; white-space: nowrap; transition: var(--subCtgTransition); box-shadow: var(--subCtgShadow);}


/* .sub_ctg_1{display: none;} */


.navBTM_sub_ctg{
    display: flex;
    gap: 30px;
}

.navBTM_sub_ctg div{
    padding-top: 10px;
}

.navBTM_gender{
    margin: 0 0 0 10px;
    padding: 0 0 10px;
    border-bottom: 1px solid rgb(216, 210, 210);
}
.navBTM_sub_ctg_btn{
    margin: 2px 0 3px 0px;
    padding: 2px 0 2px 15px;
    cursor: pointer;
}
.navBTM_sub_ctg_btn:hover{
    background-color: lightgray;
    border-radius: 3px;
}

.navBTM_subCtg_discount{
    background: url('/assest/images/menu/banner-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 235px;
    height: 300px;
}
.navBTM_subCtg_discount h4{
    font-size: 16px;
    margin: 20px 0 5px 20px;
}
.navBTM_subCtg_discount h2{
    font-size: 18px;
    margin: 0 0 5px 20px;
}
.navBTM_subCtg_discount h5{
    font-size: 13px;
    margin: 0 0 5px 20px;
}

.headerBottomNav_links{
    flex-grow: 1;
}

.headerBottomNav_links_list{
    display: flex;
    list-style: none;
}
.headerBottomNav_links_list li{
    flex-grow: 1;
}
.headerBottomNav_links_list a{
    --border-color: purple;
    --border-width: 5px;
    --bottom-distance: 0px; /* you can increase this */
    
    color: #666;
    display: inline-block;
    background-image: linear-gradient(var(--border-color), var(--border-color));
    background-size: 0% var(--border-width);
    background-repeat: no-repeat;
    background-position: 0 100%;
    transition: background-size 0.3s;
    margin: 5px 0;
  
}
.headerBottomNav_links_list a:hover{
    background-size: 100% var(--border-width);
}
.headerBottomNav_links_list .active_link{
    background-size: 100% var(--border-width);
    color: blue;
}
/* header bottom nav styles end */



/* footer styles start  */
.footer_subscrib{
    padding: 2rem 1rem;
    color: white;
    gap: 10px;
}
.footer_subscrib div:nth-child(1){
    gap: 10px;
} 
.footer_subscrib div:nth-child(1) h4{
    margin: 0;
    font-size: 1.1rem;
    letter-spacing: 0px;

}
.footer_subscrib div:nth-child(1) p{
    margin: 0;
    line-height: 4px;
    font-weight: 400;
}
.footer_subscrib div:nth-child(2){
    flex-grow: 1;
}
.footer_subscrib div:nth-child(2) input{
    outline: 0;
    border-radius: 0.4rem;
    border: none;
    font-size: 1rem;
    border-width: 1px 01px 1px;
    padding: 0.85rem 2rem;
    color: #999;
    width: 100%;
    /* margin: 0 10px 0 20px; */
}

.subscrib_btn{
    border: none;
    color: #fff;
    border-color: #333;
    background-color: #333;
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
    transition: color 0.3s, border-color 0.3s, background-color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
    white-space: nowrap;
    cursor: pointer;
    padding: 0.92em 1.85em;
    border-radius: 3px;
}
.subscrib_btn:hover{
    background-color: rgb(68, 67, 67);

}

/* footer middle  */
.footerMiddle{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px;
    font-size: 15px;
    margin-top: 50px;
    border-bottom: 1px  solid rgb(216, 210, 210);
    padding-bottom: 40px;
}
.footerMiddle div:nth-child(1){
    /* max-width: 300px; */
    /* border: 1px solid; */
}
.footerMiddle p{
    margin: 10px 0;
}
.footerMiddle h5{
    margin: 0;
    font-size: 17px;
}

.footerMiddle .footerLinks h5{
    font-size: 16px;
}

.footerMiddle .footerLinks div{
    margin: 8px 0;
}

.footerMiddle .footerLinks div a{
    font-size: 13px;
    color: #999;
}

.footer_payCard{
    gap: 20px;
    color: #999;
    font-size: 13px;
    padding: 20px 0;
}

.footer_payCard div:nth-child(2){
    flex-grow: 1;
    text-align: right;
}
.footer_payCard div:nth-child(3) span{
    margin: 0 3px;
}

/* footer styles end */