
.caresol_Bg{
  /* background-image: url("/assest/images/sliders/slide-2.jpg"); */
  height: 480px;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}
.caresol_Bg1{background-image: url("/assest/images/sliders/slide-1.jpg");}
.caresol_Bg2{background-image: url("/assest/images/sliders/slide-2.jpg");}
.caresol_Bg3{background-image: url("/assest/images/sliders/slide-3.jpg");}

.caresol_card{
  /* background-image: url("/assest/images/sliders/slide22.png"); */
  height: 100%;
  width: auto;
  justify-content: space-between;
}

.carosole_btn{
  border: 2px solid #666;
  color: #333;
  border-color: #333;
  background-color: transparent;
  padding: 1em 2.45em;
  margin-top: 25px;
  border-radius: 3px;
  font-weight: 900;
  display: inline-block;
}
.carosole_btn:hover{
  background-color: #333;
  color: white;
  cursor: pointer;
}